h1 {
    width: 100%;
}

body {
    padding: 2rem;
    background-color: #397144;
}

.content {
    color: white;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.content > section {
    border: 2px white solid;
    box-shadow: 0px 0px 15px 0px white;
    background-color: #ad5533;
}

table {
    width: 100%;
}

table > tbody > tr > td {
    border: 2px white solid;
}

.title {
    height: 9rem;
}