.content > section {
    width: 48%;
}

#section-first {
    border-radius: 5px 0px 0px 5px;
}

#section-last {
    border-radius: 0px 5px 5px 0px;
}

#img-first {
    width: 30%;
}

#img-last {
    width: 30%;
}