#movil-version {
    display: none;
}

#pc-version {
    width: 100%;
    max-width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.content > div > section {
    width: 48%;
    box-shadow: 0px 0px 15px 0px white;
}

.section-first {
    border-radius: 5px 0px 0px 5px;
}

.section-last {
    border-radius: 0px 5px 5px 0px;
}

.table-results {
    padding: 1px 10px 0px 10px;
}

.table-results > table > thead {
    background-color: #397144;
}

.table-results > table > tbody {
    background-color: #f1f1f1;
    color:#397144
}

.table-results > table > tbody > tr:hover {
    background-color: #8feba1;
    color: black;
}

.img-1:hover {
    color: white;
    font-weight: bold;
    font-size: 1rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/woman-1.jpg");
}

.img-2:hover {
    color: white;
    font-weight: bold;
    font-size: 1rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/woman-2.jpg");
}

#products:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/tennis-balls-1.jpg");
    background-size: cover;
    background-position: center;
}

#blog:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/tennis-balls-2.jpg");
    background-size: cover;
    background-position: center;
}

.img-tenis:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/tennis-1.jpg");
}

.img-tenis-2:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/tennis-2.jpg");
}